html {
  box-sizing: border-box;
  font-size: 10px;
  background-image: url('./img/background4.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

*,* :before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 40px;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  font-family: 'Nunito', sans-serif;
}

#start {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem;
}

#start:hover {
  opacity: 0.7;
}

.header{
  display: flex;
  justify-content: space-between;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
}

.time {
  width: 120px;
  border: 3px solid white;
  background-color: #bd062aab;
  color: white;
  border-radius: 50%;
  padding: 9px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 12px;
}

.board{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.score {
  background: rgba(255,255,255,0.2);
  line-height: 1;
  border-radius: 1rem;
  text-align: right; 
  display: inline-block;
  margin-right: 2px;
}

.mole-count {
  line-height: 1;
  border-radius: 2rem;
  text-align: right;
  display: inline-block;
  margin-right: 2px;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  cursor: url('./img/pointer1.png'), pointer;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url('./img/hole.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('./img/mole.png') bottom center no-repeat;
  background-size: 65%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.mole-pic.bonked {
	-webkit-animation-name: shake;
    animation-name: shake;
	-webkit-animation-duration: 0.5s;
  	animation-duration: 0.5s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
}

#countdown, .countdownwidth {
  display: inline-block;
  text-align: right;
}

.countdownwidth {
  width: fit-content;
  font-size: 20px;
}

#countdown {
  width: 25px;
}
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

 





